<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
                <h1> Login </h1>
            </div>
        <form [formGroup]="loginform" (ngSubmit)="onSubmit()">
          <div formGroupName="userData">
            
          <div class="mb-3">
            <label for="orgname">Organization</label>
            <select class="custom-select" formControlName="orgname">
              <option value="">Select Organization</option>
              <option *ngFor="let organization of organization" [ngValue]="organization">{{organization}}</option>
            </select>
          </div>  
          <div class="mb-3">
            <label for="username">User Name</label>
            <!--<span class="input-group-text" id="basic-addon1">!=</span>-->
            <input
              type="text"
              id="username"
              class="form-control"
              formControlName="username">
              <span 
              *ngIf="!loginform.get('userData.username')?.valid && loginform.get('userData.username')?.touched"
              class="help-block">
              <!--<span *ngIf="loginform.username?.required">
                This field is required
              </span>-->
            </span>
          </div>
          <div class="mb-3">
            <label for="password">Password</label>
            <input
              type="text"
              id="password"
              class="form-control"
              formControlName="password">
              <span 
              *ngIf="!loginform.get('userData.password')?.valid && loginform.get('userData.password')?.touched"
              class="help-block">Please Enter a Valid Password</span>
          </div>
        </div>
        <span
        *ngIf="!loginform.valid && loginform.touched"
        class="help-block">Please enter valid data!</span>
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    </div>
    </div>
</div>
</div>
</div>