<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form [formGroup]="loginform" (ngSubmit)="onSubmit()">
          <div formGroupName="userData">
            
          <div class="form-group">
            <label for="orgname">Organization</label>
            <select class="custom-select" formControlName="orgname">
              <option value="">Select Organization</option>
              <option *ngFor="let organization of organization" [ngValue]="organization">{{organization}}</option>
            </select>
          </div>  
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              class="form-control"
              formControlName="username">
              <span 
              *ngIf="!loginform.get('userData.username')?.valid && loginform.get('userData.username')?.touched"
              class="help-block">
              <!--<span *ngIf="loginform.username?.required">
                This field is required
              </span>-->
            </span>
          </div>
          <div class="form-group">
            <label for="password">password</label>
            <input
              type="text"
              id="password"
              class="form-control"
              formControlName="password">
              <span 
              *ngIf="!loginform.get('userData.password')?.valid && loginform.get('userData.password')?.touched"
              class="help-block">Please Enter a Valid Password</span>
          </div>
        </div>
        <span
        *ngIf="!loginform.valid && loginform.touched"
        class="help-block">Please enter valid data!</span>
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>
</div>
</div>
