<p>home works!</p>

<div class="input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping"><span class="glyphicon glyphicon-user"></span></span>
    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
  </div>

  <h2>Glyphicon Examples</h2>
  <p>Envelope icon: <span class="glyphicon glyphicon-user"></span></p>    
  <p>Envelope icon as a link:
    <a href="#">
      <span class="glyphicon glyphicon-envelope"></span>
    </a>
  </p>